<div class="home">
	<div class="container">
			<div class="homediv">
				<h1>iOS Developer</h1>

				<p><a href="http://github.com/vincentereyes" target="_blank"><span class="fa fa-github"></span></a> 
					<a href="http://www.linkedin.com/in/vincentereyes" target="_blank"><span class="fa fa-linkedin-square"></span></a>
					<a href="mailto:vincentejosereyes@gmail.com" target="_blank"><span class="fa fa-envelope"></span></a>
				</p>

				<h3>📍 California</h3>
        <h3>📱 iOS Applications</h3>
				<h3>💻 Web Applications</h3>
			</div>
	</div>
	<div class="buttons">
				<a href='assets/resume.pdf' target="_blank" open><button type="button" class="btn btn-lg btn-default">View Resume 📄</button></a>
	</div>
</div>
