<div class="home contacta">
	<div class="img-container">
	</div>
	<h2>Contact Me: </h2>
	<h4><a href="mailto:vincentejosereyes@gmail.com">vincentejosereyes@gmail.com</a></h4>
	<h2>About: </h2>
	<h4>I am a race car fanatic, Rubix cube junkie, who is also very keen on coding. Studying information technology is where I found my passion for coding. I was exposed to working with Java, PHP, and C++ while studying my major but when I moved to the United States I knew I had to soak in more tech knowledge. I attended a coding school to gain this knowledge and rewired my brain to learn 3 full stacks such as Python, MEAN (Mongo, Express, Angular, Node) and iOS.</h4>
	<!-- <form (submit)="onSubmit()" name="contactForm">
	  <div class="form-group">
	    <label>Name <small *ngIf="!(email.name.length > 3)">| enter atleast 4 characters</small>
	    <small *ngIf="!(email.name.length < 50)">| name over 50 characters</small></label>
	    <input type="text" class="form-control" id="name"  placeholder="Enter name" name="email.name" [(ngModel)]="email.name" ng-minlength="3" ng-maxlength="50">
	  </div>
	  <div class="form-group">
	    <label>Email</label>
	    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email.email" [(ngModel)]="email.email">
	  </div>
	  <div class="form-group">
	  	<label>Message<small *ngIf="!(email.message.length > 19)"> | enter atleast 20 characters</small>
	    <small *ngIf="!(email.message.length < 1000)"> |message over 1000 characters</small></label>
	    <textarea class="form-control" id="message" placeholder="Enter message" rows="5" name="email.message" [(ngModel)]="email.message" ng-minlength="3" ng-maxlength="1000"></textarea>
	    
	  </div>
	  <button type="submit" class="btn btn-default btn-send" [disabled]='clicked'>Send</button>
	</form> -->
</div>