<div class="home margintop">


	<h1>pinkslips</h1>
	<div class="pinkslips-gif"></div>
	<p><a href="https://www.youtube.com/watch?v=uLXkCSpYQz0"><span class="fa fa-youtube-play" aria-hidden="true"></span></a>
	<a href="http://github.com/vincentereyes">
		<span class="fa fa-github"></span>
	</a></p>
	<h3>A discreet matchmaking web application for car enthusiasts to set meeting points for racing.</h3>
	<p>Technologies</p>
	<h4>Python | MySQL | Django | Google Maps API | Bootstrap</h4>
	<hr>

	<h1>portfolio</h1>
	<div class="portfolio-gif"></div>
	<p>
	<a href="http://github.com/vincentereyes">
		<span class="fa fa-github"></span>
	</a>
	</p>
	<h3>My online portfolio showcasing my projects with links to my github and linkedin, as well as my resume. Send me a message through the contact page.</h3>
	<p>Technologies</p>
	<h4>Angular | Javascript | Express | Nodejs | Nodemailer |Jquery | Ajax | Bootstrap</h4>
	<hr>

</div>