<div class="home margintop">

	<h1>time attack</h1>
	<div class="racecar-gif"></div>
	<p><a href="https://github.com/vincentereyes/racecar" target="_blank" open>
		<span class="fa fa-github"></span>
	</a></p>
	<h3>An iOS application currently on TestFlight for car enthusiasts. Lets user save their cars and driving roads anywhere in the world and track their "lap-times". Data is saved persistently for comparison from previous laps.</h3>
	<p>Technologies</p>
	<h4>Swift | CoreLocation | CoreData | AVFoundation | MapKit | CarQueryAPI</h4>
	<hr>

	<h1>surfer</h1>
	<div class="surfer-gif"></div>
	<p><a href="https://github.com/vincentereyes/surfer" target="_blank" open><span class="fa fa-github"></span></a>
	<a href="https://itunes.apple.com/us/app/surfer-ph-wave-forecast/id1420702554?ls=1&mt=8" target="_blank" open>
		<span class="fa fa-apple"></span>
	</a></p>
	<h3>An iOS social-application for surfers. Displays wave height and weather data for the current day. Integrates a real-time chat application using Firebase. Each surfspot is a chatroom.</h3>
	<p>Technologies</p>
	<h4>Swift | Firebase | Admob | SwiftyJSON | MagicseaweedAPI | Cocoapods</h4>
	<hr>

	<h1>restful tasks</h1>
	<div class="restful-gif"></div>

	<p>
	<a href="https://github.com/vincentereyes/bucketlistcrudiOS" target="_blank" open>
		<span class="fa fa-github"></span>
	</a>
	<a href="https://github.com/vincentereyes/bucketlistcrudAPI" target="_blank" open>
		<span class="fa fa-github"></span>
	</a>
	</p>
	<h3>A full-stack cross-platform(iOS, Web) application. Full CRUD.</h3>
	<p>Technologies</p>
	<h4>Swift | Angular | NodeJS | MongoDB | Express | No SQL</h4>
	<hr>

	<h1>pinkslips</h1>
	<div class="pinkslips-gif"></div>
	<p><a href="https://www.youtube.com/watch?v=uLXkCSpYQz0" target="_blank" open><span class="fa fa-youtube-play"></span></a>
	<a href="https://github.com/vincentereyes/pinkslips" target="_blank" open>
		<span class="fa fa-github"></span>
	</a></p>
	<h3>A matchmaking("Tinder") web application for car enthusiasts with full messaging system, full login and registration. Integrates Google Maps API to set starting points for potential races. Full CRUD, One to Many, Many to Many relationships</h3>
	<p>Technologies</p>
	<h4>Python | MySQL | Django | Google Maps API | Bootstrap</h4>
	<hr>

</div>